<fieldset style='padding:20px;'>
  <legend></legend>
  <h1>{{titles}}</h1>
  <form #productForm = 'ngForm' (submit) = 'formSubmitted()'>
      Title:
      <input type='text' name='title' required minlength="4" [(ngModel)]='product.title' #title = 'ngModel'><span *ngIf='title.errors' style='color:red'> Title must be at least 4 characters. </span><br/><br/>
      Price:
      <input type='number' name='price' required [(ngModel)]='product.price' #price = 'ngModel'><span *ngIf='price.errors' style='color:red'> Price is required</span><br/><br/>
      Image Url:
      <input type='text' name='img' [(ngModel)] = 'product.img' #img = 'ngModel'><br/><br/>
      <input type='submit' value='Create' [disabled]='!productForm.form.valid'>
    </form>

</fieldset>
