<html>
    <body>
        <form method='post' action='/result'>
            Your name: 
            <input type='text' name='name'><br/><br/>
            Dojo Location:
            <select name='loc'>
                <option value = 'Seattle, WA'>Seattle, WA</option>
                <option value = 'Washington DC'>Washington DC</option>
            </select><br/><br/>
            Favoriate Language: 
            <select name='lan'>
                <option value = 'Javascript'>Javascript</option>
                <option value = 'Ruby'>Ruby</option>
            </select><br/><br/>
            Comment(optional):
            <textarea name='comment'></textarea><br/><br/>
            <input type='submit' value='Submit'>
        </form>
    </body>
</html>