<form action = '/animals/:id' method="post">
    <input type='text' name='name' value='<%=animal.name%>'><br/> <br/>
    <input type='hidden' name='id' value = '<%=animal.id%>'>
    <input type='submit' value = 'update'>

</form>