<div style='text-align: center'><h1>{{title}}</h1></div>
<div class='boxes'>
  <div [ngStyle]="{'background-color':color[rand]}" class='box'></div>
  <div [ngStyle]="{'background-color':color[rand2]}" class='box' class='box'></div>
  <div [ngStyle]="{'background-color':color[rand3]}" class='box' class='box'></div>
  <div [ngStyle]="{'background-color':color[rand4]}" class='box' class='box'></div>
  <div [ngStyle]="{'background-color':color[rand5]}" class='box' class='box'></div>
  <div [ngStyle]="{'background-color':color[rand6]}" class='box' class='box'></div>
  <div [ngStyle]="{'background-color':color[rand7]}" class='box' class='box'></div>
</div>
